<?xml version="1.0"?>
<model>
  <name>checkker_board</name>
  <version>1.0</version>
  <sdf version="1.9">checkker_board.sdf</sdf>

  <author>
    <name>robot_description</name>
    <email>none</email>
  </author>

  <description>
    checkker_board with textured faces (OBJ+MTL).
  </description>
</model>